.damage-float {
      position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    font-size: 32px; /* maior para destacar */
    font-weight: bold;
    pointer-events: none;
    text-shadow: 0 0 8px rgba(255, 0, 0, 0.8);
    opacity: 1;

    /* duração maior */
    animation: floatUp 5s ease-out forwards;
}

@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translateX(-50%) translateY(0) scale(1);
    }
    20% {
        opacity: 1;
        transform: translateX(-50%) translateY(-20px) scale(1.3);
    }
    60% {
        opacity: 0.8;
        transform: translateX(-50%) translateY(-120px) scale(2.5); /* sobe mais longe */
    }
    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(-200px) scale(1.7); /* sobe BEM ALTO */
    }
}



