.dashboard-footer {
    background-color: #1b1b1b;
    color: #fff;
    padding: 15px 20px;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    border-top: 1px solid #333;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.footer-content .social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    font-weight: bold;
}

.footer-content .social-links a:hover {
    color: #f39c12;
}


/* Responsivo para mobile */
@media (max-width: 768px) {
    .footer-content {
        gap: 10px;
    }
}
