.loja-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Cada card ocupa no máximo 1/3 do container - 3 cards por linha */
.loja-card {
    background: linear-gradient(145deg, #1b1b1b, #2a2a2a);
    border: 2px solid #f39c12;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    flex: 0 1 calc((100% - 60px) / 3); /* 3 por linha, subtraindo gap */
    max-width: calc((100% - 60px) / 3);
}

.loja-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.8);
}

#loja > p {
    text-align: center;
}

.secao-titulo {
  margin-bottom: 10px;
  font-size: 1.9rem;
  font-weight: 900;
  color: #ffb400;
  text-transform: uppercase;
  letter-spacing: 2px;

  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000,
     0 0 12px rgba(255, 180, 0, 0.8);
}

.secao-descricao {
  max-width: 520px;
  font-size: 1rem;
  line-height: 1.6;
  color: #ddd;

  background: rgba(0, 0, 0, 0.45);
  padding: 12px 16px;
  border-radius: 10px;

  border: 1px solid rgba(255, 180, 0, 0.25);

  box-shadow:
    0 0 8px rgba(0, 0, 0, 0.6),
    inset 0 0 6px rgba(255, 180, 0, 0.1);
}


.loja-card p {
    color: #ecf0f1;
    margin: 8px 0;
}

.loja-card .preco {
    font-weight: bold;
     font-size: 18px;
    color: #00ff88;
}

.loja-card label {
    display: block;
    margin-top: 10px;
    color: #f39c12;
}

.loja-card input[type="number"] {
    width: 80px;
    padding: 15px;
    margin: 25px 0 15px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #222;
    color: #fff;
}

.btn-comprar {
    background-color: #f39c12;
    color: #000;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.btn-comprar:hover {
    background-color: #d68910;
    transform: scale(1.05);
}

/* Responsivo: 2 cards por linha em telas médias */
@media (max-width: 1024px) {
    .loja-card {
        flex: 0 1 calc((100% - 30px) / 2);
        max-width: calc((100% - 30px) / 2);
    }
}

/* Responsivo: 1 card por linha em telas pequenas */
@media (max-width: 700px) {
    .loja-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .loja-card {
        flex: 0 1 90%;
        max-width: 90%;
    }
}


.card-imagem {
    width: 90px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}

.espada-flanejante-imagem {
    width: 40px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}

.machado-dilacerador-imagem {
    width: 120px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}

