<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Boss Battle Arena - Cadastro</title>
  <link rel="icon" type="image/x-icon" href="/icones/favicon.ico">
  <link rel="stylesheet" href="/css/footer.css">  
  <link rel="stylesheet" href="/css/auth.css">
  <link rel="stylesheet" href="/css/cadastro.css">
  <link rel="stylesheet" href="/css/customClass.css">  
  <link rel="stylesheet" href="/css/swal-game-error.css">
  <link rel="stylesheet" href="/css/historico.css">
   <link rel="stylesheet" href="/css/anuncios.css"> 
  
  
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <!-- Turnstile -->
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
</head>
<body>


       <!-- ANUNCIO 9 -->
<div class="anuncio-9">

 <iframe src="https://zerads.com/ad/ad.php?width=468&ref=10783" 
 marginwidth="0" marginheight="0" width="468" height="60" scrolling="no" 
 border="0" frameborder="0"></iframe>

</div>
<div class="layout">
 <!-- ESQUERDA -->
    <div class="layout-esquerdo">
        <div class="pagamento-info">
            <h1>⚔️ Arena</h1>
           <p id="descricao-dinamica">
    Enfrente chefes lendários, fortaleça seu exército de guerreiros
    e domine a arena com estratégia, poder e glória.
</p>

   <!-- ANUNCIO 12 -->

<div class="anuncio-12">
   <iframe src="https://zerads.com/ad/ad.php?width=300&ref=10783"
   marginwidth="0" marginheight="0" width="300" 
   height="250" scrolling="no" border="0" frameborder="0">
 </iframe>
</div>

 
 
</div>

    </div>
    
<div class="auth-container">
   <h2>Cadastro</h2>

<form id="registerForm">

  <input
    type="text"
    id="username"
    placeholder="Digite seu usuário"
    required
  >


  <input
    type="email"
    id="email"
    placeholder="Digite seu email FaucetPay"
    required
  >


  <input
    type="password"
    id="senha"
    placeholder="Crie uma senha"
    required
  >

  <div class="cf-turnstile"
       data-sitekey="0x4AAAAAAChnmI4Mo7t9Bgax"
       data-callback="onTurnstileSuccess"
       data-error-callback="onTurnstileError"
       data-expired-callback="onTurnstileExpired">
  </div>

  <input type="hidden" id="captcha-response" name="response">
  <input type="hidden" id="ref" name="ref" th:value="${ref}">

  <button type="submit" id="submitBtn" disabled>
    Cadastrar
  </button>
</form>

 <div class="link">
        <a href="/login">  Fazer Login </a>
        
</div>
</div>




 <!-- DIREITA -->
    <div class="layout-direito">
        <div class="pagamento-info">
            <h1>Jogue e Ganhe Recompensas</h1>
         
  <p class="faucet-pay-moedas">
  <img src="/icones/tether-usdt-logo.webp?v=002" alt="usdt">
  <img src="/icones/doge.webp?v=002" alt="doge">
  <img src="/icones/trx.webp?v=010" alt="trx">
  <img src="/icones/ltc.webp?v=010" alt="ltc">
  <img src="/icones/dgb.webp?v=001" alt="dgb">
 
</p>
       
<p class="faucet-pay">
  <a href="https://faucetpay.io/" target="_blank" rel="noopener noreferrer">
    <img src="/icones/faucet.webp?v=052" alt="Faucet">
  </a>
</p>


  <iframe src="https://zerads.com/ad/ad.php?width=300&ref=10783"
   marginwidth="0" marginheight="0" width="300" 
   height="250" scrolling="no" border="0" frameborder="0">
 </iframe>

</div>


 
    </div>
      


</div>


<!-- HISTÓRICO GLOBAL -->
<div id="historico-container" class="historico-container">
  <h3 class="secao-titulo recompensa-titulo">Histórico de Retiradas</h3>
  <table class="historico-table">
    <thead>
      <tr>
        <th>Moeda</th>
        <th>Valor</th>
        <th>Email</th>
        <th>Status</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody id="historicoRetirada"></tbody>
  </table>
  
  
</div>




<!-- Footer -->
<footer class="footer">
    <div class="footer-content">
        <p>© 2025 Boss Battle Arena . Todos os direitos reservados.</p>
       
    </div>
</footer>

    


<script src="/js/descricaoDinamica.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/captcha-response.js"></script>
<script src="/js/historico.js"></script>

</body>


</html>
