<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="user-id" th:content="${idUsuario}">
     
    <title>Desafios da Arena</title>
    

    <link rel="icon" type="image/x-icon" href="/icones/favicon.ico">
    <link rel="stylesheet" href="/css/rankingModal.css"> 
    <link rel="stylesheet" href="/css/desafios.css">
    <link rel="stylesheet" href="/css/customClass.css">  
    <link rel="stylesheet" href="/css/swal-game-error.css">
    
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>


<div class="game-background"></div>

<a href="/arena" class="btn-voltar">
    <i class="fa-solid fa-arrow-left"></i>
    <span>Voltar à Arena</span>
</a>

<main class="missoes-page">

    <section id="missoes">

        <div class="missoes-header">
            <div class="icone-header">
                <i class="fa-solid fa-trophy"></i>
            </div>

            <h1>Desafios da Arena</h1>

            <p>
                Complete missões, evolua seu poder e conquiste recompensas especiais.
            </p>
        </div>

        <div class="bloco-missao">
            <div class="titulo-bloco">
                <i class="fa-solid fa-fire"></i>
                <h2>Missões Diárias</h2>
            </div>

            <div id="diarias" class="lista-missoes"></div>

            <div id="mensagem-diarias" class="mensagem-vazia" style="display: none;"></div>
        </div>

        <div class="anuncio-13">
            <iframe src="https://zerads.com/ad/ad.php?width=468&ref=10783"
                    width="468"
                    height="60"
                    scrolling="no"
                    frameborder="0"></iframe>
        </div>

        <div class="anuncio-12">
            <iframe src="https://zerads.com/ad/ad.php?width=728&ref=10783"
                    width="728"
                    height="90"
                    scrolling="no"
                    frameborder="0"></iframe>
        </div>

        <div class="bloco-ranking">
            <div class="titulo-ranking">
                <i class="fa-solid fa-crown"></i>
                <h2>Ranking de Ataques Especiais</h2>
            </div>

            <div class="ranking-box">
                <h3 class="subtitulo-ranking">Top 10 da Semana</h3>

                <div id="rankingLista" class="ranking-lista"></div>
            </div>

            <div id="posicaoUsuario" class="posicao-usuario"></div>
        </div>

        <div class="premios-ranking">
            <div class="titulo-premio">
                <i class="fa-solid fa-gem"></i>
                <h2>Premiação Semanal</h2>
            </div>

            <ul class="lista-premiacao">
                <li class="lista-premios">
                    🥇 1º Lugar
                    <strong>
                        50.000
                        <img src="/icones/boss_coin.webp" class="icone-token" alt="Boss Coin">
                    </strong>
                </li>

                <li class="lista-premios">
                    🥈 2º Lugar
                    <strong>
                        30.000
                        <img src="/icones/boss_coin.webp" class="icone-token" alt="Boss Coin">
                    </strong>
                </li>

                <li class="lista-premios">
                    🥉 3º Lugar
                    <strong>
                        20.000
                        <img src="/icones/boss_coin.webp" class="icone-token" alt="Boss Coin">
                    </strong>
                </li>

                <li class="lista-premios">
                    🏅 4º Lugar
                    <strong>
                        10.000
                        <img src="/icones/boss_coin.webp" class="icone-token" alt="Boss Coin">
                    </strong>
                </li>

                <li class="lista-premios">
                    🎖️ 5º Lugar
                    <strong>
                        5.000
                        <img src="/icones/boss_coin.webp" class="icone-token" alt="Boss Coin">
                    </strong>
                </li>
            </ul>

            <p class="info-premios">
                Os prêmios são distribuídos automaticamente todo domingo à meia-noite.
            </p>
        </div>

        <div class="anuncio-12">
            <iframe src="https://zerads.com/ad/ad.php?width=728&ref=10783"
                    width="728"
                    height="90"
                    scrolling="no"
                    frameborder="0"></iframe>
        </div>

        <div class="anuncio-13">
            <iframe src="https://zerads.com/ad/ad.php?width=468&ref=10783"
                    width="468"
                    height="60"
                    scrolling="no"
                    frameborder="0"></iframe>
        </div>

     
<!-- MODAL PRÊMIO ATAQUE ESPECIAL -->
<div id="modalPremioAtaqueEspecial" class="modal-premio">
  <div class="modal-premio-box">
    <button type="button" class="fechar-modal" id="btnFecharModalPremio">×</button>

    <div class="modal-topo">
      <i class="fa-solid fa-trophy"></i>
      <h3>Prêmio Disponível</h3>
    </div>

    <div class="modal-conteudo">
      <p id="textoPremioAtaqueEspecial">
        Você tem um prêmio disponível no ranking semanal de ataques especiais.
      </p>

      <p id="statusPremioAtaqueEspecial" class="status-premio"></p>

      <div class="premio-valor-box">
        <span class="label-premio">Valor do Prêmio</span>
        <span id="valorPremioAtaqueEspecial" class="valor-premio">0,00</span>
        <img src="/icones/boss_coin.webp" alt="Token ADZ" class="icone-token">
      </div>
    </div>

    <div class="modal-acoes">
      <button type="button" id="btnReceberPremioAtaqueEspecial" class="btn-receber-premio">
        <i class="fa-solid fa-coins"></i> Receber
      </button>
    
      
      
    </div>

    <div class="modal-anuncio">
      <iframe
        src="https://zerads.com/ad/ad.php?width=468&ref=10783"
        width="468"
        height="60"
        scrolling="no"
        frameborder="0">
      </iframe>
    </div>
  </div>
</div>
<div class="anuncio-8">

  <script>
    atOptions = {
      'key' : '0a3b52a54a7a4d065b759366194e5a20',
      'format' : 'iframe',
      'height' : 60,
      'width' : 468,
      'params' : {}
    };
  </script>



</div>



<!-- MODAL PRÊMIO ATAQUE ESPECIAL -->
</section>




</main>
  <script src="/js/global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/nav.js"></script>
<script src="/js/missoesDiarias.js" defer></script>
<script src="/js/rankingAtaques.js" defer></script>
<script src="/js/receberRankingAtaqueEspecial.js" defer></script>

</body>
</html>