<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login - Boss Battle Arena</title>
    
    <link rel="icon" type="image/x-icon" href="/icones/favicon.ico">
     <link rel="stylesheet" href="/css/footer.css">  
    <link rel="stylesheet" href="/css/auth.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>


<div class="layout">

 <!-- ESQUERDA -->
    <div class="layout-esquerdo">
        <div class="pagamento-info">
            <h1>⚔️ Arena</h1>
           <p id="descricao-dinamica">
    Enfrente chefes lendários, fortaleça seu exército de guerreiros
    e domine a arena com estratégia, poder e glória.
</p>

</div>
    </div>
    
<div class="auth-container">
    <h2>Entrar</h2>
    
 
    <form id="loginForm">
    <input type="text" id="loginUser" placeholder="Email ou Usuário" required>
    <input type="password" id="loginSenha" placeholder="Senha" required>

    <input type="hidden" name="ref" th:value="${ref}" />

    <!-- Cloudflare Turnstile -->
    <div class="cf-turnstile"
        data-sitekey="0x4AAAAAACPL1fNa0nONmxwi"
        data-callback="onTurnstileSuccess"
        data-error-callback="onTurnstileError"
        data-expired-callback="onTurnstileExpired">
    </div>

    <!-- Token do captcha -->
    <input type="hidden" id="captchaToken">

    <button type="submit" id="loginBtn" disabled>Entrar</button>
</form>

<p id="loginMsg"></p>
<script>
const loginBtn = document.getElementById('loginBtn');

function onTurnstileSuccess(token) {
    document.getElementById('captchaToken').value = token;
    loginBtn.disabled = false;
}

function onTurnstileExpired() {
    document.getElementById('captchaToken').value = "";
    loginBtn.disabled = true;
}

function onTurnstileError() {
    document.getElementById('captchaToken').value = "";
    loginBtn.disabled = true;
}
</script>



    <div class="link">
        Não tem conta? <a href="/cadastro">Criar conta</a>
    </div>
    

 
    
</div>


 <!-- DIREITA -->
    <div class="layout-direito">
        <div class="pagamento-info">
            <h1>Batalhe, Evolua e Ganhe</h1>
         
  <p class="faucet-pay-moedas">
  <img src="/icones/tether-usdt-logo.webp?v=002" alt="usdt">
  <img src="/icones/doge.webp?v=002" alt="doge">
  <img src="/icones/trx.webp?v=010" alt="trx">
  <img src="/icones/ltc.webp?v=010" alt="ltc">
  <img src="/icones/dgb.webp?v=001" alt="dgb">
 
</p>       
<p class="faucet-pay">
  <a href="https://faucetpay.io/" target="_blank" rel="noopener noreferrer">
    <img src="/icones/faucet.webp?v=052" alt="Faucet">
  </a>
</p>




<!-- 
 <p>
    Ganhe recompensas em, LTC, DOGE, DGB e TRX
    diretamente via FaucetPay.
</p>
 -->
</div>
    </div>
    
    
    
   </div>
    
   <!-- Footer -->
<footer class="footer">
    <div class="footer-content">
        <p>© 2025 Boss Battle Arena . Todos os direitos reservados.</p>
       
    </div>
</footer>
 <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
<script src="/js/descricaoDinamica.js"></script>
<script src="/js/auth.js"></script>
<script src="/js/realizarLogin.js"></script>
<script src="/js/loadBoss.js"></script>  

</body>
</html>
